# Clé API Resend
RESEND_API_KEY=

# Liste des mails de test (séparer par des virgules les différets mail)
MAIL_TEST=test@test.test,exemple@exemple.exemple
PRENOM_TEST=Test, Exemple
# Mail source
MAIL_FROM=from@test.fr

# Subjet Test
SUBJECT_TEST= Je suis un Sujet

# Nom source
MAIL_NAME=Test