# Clé API Resend
RESEND_API_KEY=

# Domaine du mail
MAIL_DOMAINE=raphael-k-78.fr.eu.org

# Logging
# Taille max du fichier de log
LOG_MAX_SIZE_MB=20
# Nombre max de fichier de log (-1 = pas de suppression)
LOG_BACKUP_COUNT=32

# dossier des templates
TEMPLATES_DIR=templates